{% extends 'all-images/base.html' %}
{% load static %}

 {% block content %}
  <div class="container" style="position:absolute; left:8%;">

    <div class="" style="height: 100%;">
      <div class="card row" style="min-height: 100%;">
        <div class="row" style="justify-content: space-around;margin-top:2em;">
          <img src="{{gallery.post_image.url}}"  class="img-responsive" alt="" width="25%" style="margin-left:3em;">
          <div style="width: 60%;">
            <div class="card" style="margin: auto; min-height:60%;">
                <hr>
                <p style="margin-left: 1.5em;"><strong>title: </strong> <em>{{gallery.image_title}}</em></p>
                <p style="margin-left: 1.5em;"><strong>Posted : </strong> <em>{{gallery.image_post_date|timesince}} ago</em></p>
                <p style="margin-left: 1.5em;"><strong>description: </strong> <em>{{gallery.image_description}}</em></p>
                <p style="margin-left: 1.5em;"><strong>location: </strong> <em>{{gallery.image_location}}</em></p>
                <p style="margin-left: 1.5em;"><strong>category: </strong> <em>{{gallery.image_category}}</em></p>

              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}