{%extends 'all-images/base.html'%}
{% load static %}
{% block content %}

{{block.super}}
 <div class="container">
 {% for photos in gallery %}

    <div style="width: 60%;">
                <hr>
            <div class="row" style="justify-content: space-around;margin-top:2em;">
            <img src="{{photos.post_image.url}}"  class="img-responsive" alt="" width="25%" style="margin-left:3em;">
                <p style="margin-left: 1.5em;"><strong>category: </strong> <em>{{photos.image_category}}</em></p>
                <a href="{% url 'image' photos.id %}" class="btn btn-outline-success" style="height:40px;">view more</a>

            </div>
          </div>
    {% endfor %}
</div>
<div>
     
</div>
</di

{% endblock %}