{%extends 'all-images/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    
      <h2>Found {{ Images|length }} of searched term {{message}}</h2>

  </div>

  <div class="row">

  {% if Images %}
    {% for photos in Images %}
      <div class="col-sm-6 col-md-3">
      <div class="card">
          
          <img src="{{photos.post_image.url}}" width="253px">
          <p class="card-title text-center">tittle : {{photos.image_title}}</p>
          <p class="card-body text-center">location: {{photos.image_location}}</p>
          <a href="{% url 'image' photos.id %}" class="btn btn-outline-primary text-center" width="40rem">view more</a>
          </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}